<header class="header">Dies ist der Headerbereich  
    <img src=""> 
    <nav>
        <ul>
            <li a href="">Home</li>
            <li a href="">Kontakt</li> 
        </ul>
    </nav>
</header>


<div class="container">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <input type='text' 
    placeholder='Neuen Titel eingeben'
    #inputTitle (keydown.enter)="changeTitle(inputTitle.value); inputTitle.value=''" />

    <button (click)="changeTitle(inputTitle.value); inputTitle.value=''">Titel ändern</button>
    </div>


