<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox Beispiel</title>
   <!-- hier kommen normalerweise die <link rel="stylesheet" href="style.css" hin. Jetzt steuert app.component.ts dieses Routing-->
</head>
<body>
    <app-header></app-header>   <!-- Dies ist der Punkt wo die Komponente eingefügt wird-->
  <main class="main">
    
      <div class="content">
        
        <div class="welcome">
            <h1>Willkommen zu meinem Projekt!</h1>
            <p>Dies ist der Welcome Bereich meiner Seite</p>
        </div>
          <div class="body">
              <div class="left-side">
                  <p>Hier ist die linke Seite zentriert mit text-align.</p>
              </div>
              <div class="divider"></div>
              <div class="right-side">
                  <p>Hier ist die rechte Seite</p> <!--ein Paragraph ist ein Absatz der zusammenhängt. Innerhalb kann man 
                                                    inline Elemente wie a(anker für links) oder b(bold,fett) oder i(kursiv) nutzen. -->
                  <p><a href="https://facebook.com" target="_blank">Facebook</a></p> <!--p = paragraph a=anker href=HypertextReference-->
              </div>
          </div>
          <div class="parent">
            <p class="child">Dies ist ein Kind-Element</p>
            <div class="child">
                <span class="child">Dies ist ein weiteres Kind, das tief verschachtelt ist.</span>
            </div>
        </div>
          <div class="button-container">
              <button class="button" (click)="showVariable('Dies ist die neue Variable')">Klicken Sie hier</button>                       
          </div>        
          <div class="para">  {{variable1}}   </div> 
          <div  class="button-container">
            <button class="button" (click)="toggleVisibility()">Zeige/Verstecke den Text</button>
            </div>

            <div *ngIf="isVisible" class="inv-container">
              Verstecker Text !!!!        
          </div>
      </div>
      <app-footer></app-footer>
  </main>
</body>
</html>