<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox Beispiel</title>
   <!-- hier kommen normalerweise die <link rel="stylesheet" href="style.css" hin. Jetzt steuert app.component.ts dieses Routing-->
</head>
<body>
    <app-header></app-header>
  <main class="main">
    
      <div class="content">
        
        <div class="welcome">
            <h1>Willkommen zu meinem Projekt!</h1>
            <p>Dies ist der Welcome Bereich meiner Seite</p>
        </div>
          <div class="body">
              <div class="left-side">
                  <p>Hier ist die linke Seite</p>
              </div>
              <div class="divider"></div>
              <div class="right-side">
                  <p>Hier ist die rechte Seite</p>
              </div>
          </div>
          <div class="button-container">
              <button class="button">Klicken Sie hier</button>
          </div>
         
      </div>
      <app-footer></app-footer>
  </main>
</body>
</html>